{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
      <div class="banner_inner">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
              <div class="banner_content">
                <h3>Hey !</h3>
                <h1>I am Hem Bhattarai</h1>
                <h5 class="text-uppercase">GIS Analyst and Developer</h5>
                <div class="social_icons my-5">
                  <a href="https://www.facebook.com/hbbhattarai56" target="_blank"><i class="ti-facebook"></i></a>
                  <a href="https://github.com/hbbhattarai" target="_blank"><i class="ti-github"></i></a>
                  <a href="https://www.linkedin.com/in/hem-bdr-bhattarai-608080200/" target="_blank"><i class="ti-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="home_right_img">
                <img class="img-fluid" src="{% static 'img/banner/home-right.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Home Banner Area =================-->


    <!--================ Start Features Area =================-->
    <section class="services_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main_title">
              <p class="top_text">Services <span></span></p>
              <h2>Services <br>
                For You </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="service_item">
              <img src="{% static 'img/services/s1.png' %}" alt="">
              <h4>GIS Analysis</h4>
              <p>Geospatial analysis is the gathering, display, and manipulation of imagery, GPS, satellite photography and historical data.</p>
              <a href="#" class="primary_btn2 mt-35"></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="service_item">
              <img src="{% static 'img/services/s2.png' %}" alt="">
              <h4>Web Development</h4>
              <p>Helps in the designing, programming, and maintenance of GIS web application making use sptail data.</p>
              <a href="#" class="primary_btn2 mt-35"></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="service_item">
              <img src="{% static 'img/services/s3.png' %}" alt="">
              <h4>GIS Training</h4>
              <p>Define and plan the training activities that will be required as per profession needs and provide training</p>
              <a href="#" class="primary_btn2 mt-35"></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Features Area =================-->

    <!--================ Start Portfolio Area =================-->
    <section class="portfolio_area" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main_title">
              <p class="top_text">Portfolio <span></span></p>
              <h2>Recent <br>
                Client Work </h2>
            </div>
          </div>
        </div>

        <div class="filters portfolio-filter">
          <ul>
            <li class="active" data-filter="*">all</li>
            {% for ctg in portfolio_category %}
  					<li data-filter=".{{ ctg.name }}">{{ ctg.name }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="filters-content">
          <div class="row portfolio-grid">
            <div class="grid-sizer col-md-3 col-lg-3"></div>
            {% if portfolio %}
            {% for portfolio in portfolio %}
            <div class="col-lg-6 col-md-6 all {{ portfolio.category }}">
  						<div class="single_portfolio">
  							<img class="img-fluid w-100" src="{{ portfolio.photo.url }}" alt="">
  							<div class="overlay"></div>
  							<div class="short_info">
  								<h4><a href="{% url 'portfolio-details' portfolio.id %}">{{ portfolio.title }}</a></h4>
  								<p>{{ portfolio.portfolio_type }}</p>
  							</div>
  						</div>
  					</div>
            {% endfor %}
            {% else %}
            <h2 class="text-danger">Portfolio Not Available!</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    <!--================ End Portfolio Area =================-->

    <!--================ Start Blog Area =================-->
    <section class="blog-area section-gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main_title">
              <p class="top_text">Our blog <span></span></p>
              <h2>Latest Story From <br>
                Our Blog </h2>
            </div>
          </div>
        </div>

        <div class="row">
          {% for post in post %}
          <div class="col-lg-4 col-md-6">
            <div class="single-blog">
              <div class="thumb">
                <img src="{{ post.photo.url }}" alt="post" height="310px" width="360px">
              </div>
              <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#"><i class="ti-user"></i>{{ post.author }}</a>
                  <a href="#"><i class="ti-calendar"></i>{{ post.pub_date }}</a>
                </div>
                <a class="d-block" href="{% url 'blog-details' post.id %}">
                  <h4>{{ post.title }}</h4>
                </a>
                <div class="text-wrap">
                  <p>{{ post.content|safe|truncatewords:30 }}</p>
                </div>
                <a href="#" class="primary_btn2">Learn More</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!--================ End Blog Area =================-->

{% endblock %}
