{% extends 'blog/blog.html' %}
{% load static %}
{% block blog %}
    <div class="single-post">
            <div class="feature-img">
                <img class="img-fluid" src="{{ post.photo.url }}" alt="">
            </div>
        <div class="blog_details">
            <h2>{{ post.title }}</h2>
                <ul class="blog-info-link mt-3 mb-4">
                  <li><a href="#"><i class="ti-user"></i>{{ post.author }}</a></li>
                  
                </ul>
            <p>{{ post.content|safe }}</p>
        </div>
    </div>
    <div class="navigation-top">
      <div class="navigation-area">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                  <div class="thumb">
                      <a href="#">
                          <img class="img-fluid" src="{% static 'img/blog/prev.jpg' %}" alt="">
                      </a>
                  </div>
                  <div class="arrow">
                      <a href="#">
                          <span class="ti-arrow-left text-white"></span>
                      </a>
                  </div>
                  <div class="detials">
                      <p>Prev Post</p>
                      <a href="#">
                          <h4>Space The Final Frontier</h4>
                      </a>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                  <div class="detials">
                      <p>Next Post</p>
                  </div>
                  <div class="arrow">
                      <a href="#">
                          <span class="ti-arrow-right text-white"></span>
                      </a>
                  </div>
                  <div class="thumb">
                      <a href="#">
                          <img class="img-fluid" src="{% static 'img/blog/next.jpg' %}" alt="">
                      </a>
                  </div>
              </div>
          </div>
      </div>
    </div>


    
{% endblock %}
